
<div class="card-student">
  <%= cl_image_tag(@observation.student.photo.key, :format => :png)%>
  <div class="card-student-infos">
  <h2><strong><%=@observation.student.first_name%></strong> <%=@observation.student.last_name%></h2>
  <h3><%=@observation.student.classroom.name%></h3>
  </div>
</div>

<div class="container_form">
  <div class="form">
    <%= simple_form_for(@observation) do |f| %>
      <%= f.input :category,
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'category-selector'},
              collection: Observation::CATEGORY %>
        <%= f.input :note %>
        <%= f.input :obs_color,
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'obs_color-wrapper',
                    item_wrapper_class: 'obs_color-item',
                    input_html: {class: 'obs_color-selector'},
                    collection: Observation::OBS_COLOR %>

        <%= f.button :submit %>
    <% end %>
  </div>
</div>
