
<div class="card-student">
  <%= link_to student_path(id: @observation.student.id) do %>
    <%= cl_image_tag(@observation.student.photo.key, :format => :png) %>
  <% end %>
  <div class="card-student-infos">
  <h2><strong><%=@observation.student.first_name%></strong> <%=@observation.student.last_name%></h2>
  <h3><%=@observation.student.classroom.name%></h3>
  </div>
</div>


<h3><strong>Modifier mon Observation</strong></h3>


<div class="container_form">
  <p></p>
    <div class="form">
      <%= simple_form_for [@observation] do |f| %>
      <%= f.input :category, :label => "Catégorie de l'Observation:",
                  as: :radio_buttons,
                  error: 'Sélectionnez une catégorie',
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Observation::CATEGORY %>
      <%= f.input :note, :label => "Commentaire:" %>
      <%= f.input :obs_color,:label => "Évaluation:",
                  as: :radio_buttons,
                  error: "Sélectionnez une couleur pour l'évaluation",
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'obs_color-wrapper',
                  item_wrapper_class: 'obs_color-item',
                  input_html: {class: 'obs_color-selector'},
                  collection: Observation::OBS_COLOR_HASH.keys,
                  value_method: lambda {|key| Observation::OBS_COLOR_HASH[key]} %>

      <%= f.button :submit, "MODIFIER", :class => "btn_valider" %>

    <% end %>
  </div>
</div>
