<div class="home_trait"></div>
  <div class="card-student">
    <%= link_to student_path(id: @observation.student.id) do %>
      <%= cl_image_tag(@observation.student.photo.key, :format => :png) %>
    <% end %>
    <div class="card-student-infos">
    <h3><strong><%=@observation.student.first_name%></strong> <%=@observation.student.last_name%></h3>
    <h2><%=@observation.student.classroom.name%></h2>
  </div>
</div>


<h3 class="title-form"><strong>Modifier mon Observation</strong></h3>


<div class="container_form">
  <p></p>
    <div class="form">
      <%= simple_form_for [@observation] do |f| %>
      <div class="container_form_category">
        <%= f.input :category, :label => "Catégorie de l'Observation:",
                    as: :radio_buttons,
                    error: 'Sélectionnez une catégorie',
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: {class: 'category-selector'},
                    collection: Observation::CATEGORY %>
      </div>
        <%= f.input :note, :label => "Commentaire:" %>
        <%= f.input :obs_color,:label => "Évaluation:",
                    as: :radio_buttons,
                    error: "Sélectionnez une couleur pour l'évaluation",
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'obs_color-wrapper',
                    item_wrapper_class: 'obs_color-item',
                    input_html: {class: 'obs_color-selector'},
                    collection: Observation::OBS_COLOR.keys,
                    value_method: lambda {|key| Observation::OBS_COLOR[key]} %>

      <%= f.button :submit, "MODIFIER", :class => "btn_valider" %>

    <% end %>
  </div>
</div>
