
<div class="card-student">
  <%= cl_image_tag(@student.photo.key, :format => :png)%>
  <div class="card-student-infos">
    <h2><strong><%=@student.first_name%></strong> <%=@student.last_name%></h2>
    <h3><%=@student.classroom.name%></h3>
  </div>
</div>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Tout</button>
  <button class="btn" onclick="filterSelection('red')"> Difficultés</button>
  <button class="btn" onclick="filterSelection('grey')"> Neutre</button>
  <button class="btn" onclick="filterSelection('green')"> Forces</button>
</div>



<div class="container trigger_popup_fricc">
  <% @observations.each do |obs| %>
    <div class="filterDiv <%= obs.obs_color.downcase %>" data-link-id=<%= obs.id %> >
      <%= "#{obs.display_date}" %>    -     <%= obs.category %>
      <div id='bttns'>
          <%= link_to "Editer", edit_observation_path(obs), class:"edit_link" %>
          <%= link_to "Supprimer",
            observation_path(obs.id),
            method: :delete,
            class:"delete_link",
            data: { confirm: "Etes-vous sûr(e) ?" } %>
          <a data-confirm="Etes-vous sûr(e) ?" rel="nofollow" data-method="delete" href="/observations/#{obs.id}"></a>
      </div>
    </div>
    <div class="modal-obs" data-modal-id=<%= obs.id %>>
      <div>
        <p><%= obs.note %></p>
      </div>
      <span class='closeBtn btn btn-primary' data-close-id=<%= obs.id %>>fermer</span>
    </div>
  <%end%>
</div>

<script>
filterSelection('all')
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
    }
  }

  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName(" active");
      current[0].className = current[0].className.remove(" active");
      this.className += " active";
    });
  }

</script>
