<div class="body">
  <div class="hello">
    <h2>Bonjour, <%=@user.first_name%> <%=@user.last_name%></h2>
  </div>
  <div class="classroom">
    <%@current_user.classrooms.each do |classroom| %>
    <h3><%=classroom.name%></h3>
    <%end%>
  </div>

  <div class="list_students">
    <%@current_user.classrooms.each do |classroom| %>
    <div class="container">
      <%classroom.students.each do |student|%>
        <div class="row">
          <div class="col-4 justify-content-center" class="imgs_student"><a href="<%= student_path(student.id) %>">
            <img class="avatar_student" src="https://flyclipart.com/thumb2/avatar-human-male-profile-user-icon-518358.png" alt="avatar_default"></a>
          </div>
          <div class="student_name" class="col-4 justify-content-center"><p><%=student.first_name%><br><%=student.last_name.upcase!%></p></div>
          <div class="col-4 justify-content-center"><%=cl_image_tag 'notes_qaexuf', height: 40, width: 40, crop: :fill %></div>
        </div>
      <%end%>
    </div>
    <%end%>

  </div>

</div>
