<div class="body">
  <div class="hello">
    <h2>Bonjour, <%=@user.first_name%> <%=@user.last_name%></h2>
  </div>
  <div class="classroom">
    <%@current_user.classrooms.each do |classroom| %>
    <h3><%=classroom.name%></h3>
    <%end%>
  </div>

  <div class="list_students">
    <%@current_user.classrooms.each do |classroom| %>
      <div class="container">
        <%classroom.students.order(:last_name).each do |student|%>
          <%pins = false%>
          <%@current_user.observations.each do |observation|%>
            <%if observation.student_id == student.id%>
              <%pins = true%>
            <%end%>
          <%end%>
          <div class="row align-items-center">
            <div class="col-4 justify-content-end" class="imgs_student">
              <a href="<%= student_path(student.id) %>">
              <%if pins == true %>
                <%= cl_image_tag(student.photo.key, :format => :png, :transformation=>[
                  {:gravity=>"face", :height=>60, :width=>60, :crop=>"fill"},
                  {:radius=>"max"}],
                :overlay => "notes_pile_sngwow.png",
                  :width => 30, :crop => :scale,
                  :gravity => :north_west, :x => -10, :y => -5) %></a>
              <% else %>
                <div class="col-4-float-left" class="imgs_student">
                <a href="<%= student_path(student.id) %>">
                <%= cl_image_tag(student.photo.key, :format => :png, :transformation=>[
                  {:gravity=>"face", :height=>60, :width=>60, :crop=>"fill"},
                  {:radius=>"max"}])%></a>
                </div>
              <% end %>
            </div>
            <div class="student_name" class="col-4 justify-content-center"><p><%=student.first_name%><br><%=student.last_name.upcase!%></p></div>
            <div class="col-4 justify-content-center"><a href="<%= new_observation_path(student) %>">
              <img class="note_plus" src="https://res.cloudinary.com/dowgjinna/image/upload/v1641554446/notes_owhf09.png"></a>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
